body{
	font-family: Avenir Next, sans-serif;
	color: white;
	background-color: black;
	text-align: center;
}

.slider{
	width: 20vw;
	height: 1vh;
	-webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    align-content: center;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #FFFF00;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FFFF00;
    cursor: pointer;
}